<! DOCTYPE html>
<html>

<div class="container">
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Role</th>
      <th scope="col">Change Role</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  <% @users.each do |user| %>

    <tr>
      <%= render user %>
 
    </tr>
    <%end%>
  </tbody>
</table>


  </div>

<div class="container">
 
  <%= link_to "Add Restaurant", new_restaurant_path,class: 'btn btn-primary btn-lg' %>
  
 
</div>

<!-- before yield -->

<!-- after yield -->

</html>