<div class="col-sm-6">

<table class="table table-striped">ORDERS
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">menu_id</th>
      <th scope="col">Quantity</th>
      <th scope="col">Restaurant_id</th>
    </tr>
  </thead>
  <tbody>
	<% @order.each do |m| %>

    <tr>
      <th scope="row">1</th>
      <td><%= "#{m.menu_id}" %></td>
      <td><%= "#{m.quantity}" %></td>
       
    </tr>
    <%end%>
  </tbody>
</table>
 </div>
