<h1>Where We Are</h1>

<div class= "row">
<div class= "col-xs-3">
	<div class="card">
		<div class="class-header"><h3>Address</h3></div>
	</div>
	<div class="card-block">
		<address>
		Dhulikhel Road<br>
		Dhulikhel 45200
		</address>
		<p>Phone no: +977 9841000000 </p>
	</div>
</div>
<div class= "col-xs-9">
	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3535.265709268046!2d85.55629321507433!3d27.616286236094616!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb09aa746e0009%3A0x7128307c0beff017!2sDhulikhel+Road%2C+Dhulikhel+45200!5e0!3m2!1sen!2snp!4v1517059148671" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

</div>
</div>
