<! DOCTYPE html>
<html>

<!-- <div class="container">
	<div class="row">
		<div class="col-sm">
	<head>
	<title>"Foodmandu" %></title>
	<h1>Foodmandu</h1>
	</head>
	</div>
</div>
 -->
 <div class="container">
<div class="jumbotron">
  <h1 class="display-4">Find All The Best Restaurants In Town</h1>
  <p class="lead">People Who Love To Eat Are Always The Best People</p>
  <hr class="my-4">
  <p>Are you hungry?</p>
  <p class="lead">
    <%= link_to "Find Restaurants", restaurants_path,class: 'btn btn-primary btn-lg' %>
    <%= link_to "Contact Us", contact_us_path,class: 'btn btn-primary btn-lg' %>
  </p>
</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Recently Added Member</h3>

			<p> </p>
		</div>

		<div class="col-sm-4">
		</div>
	</div>
		<div class="container">
	  <div class="row">
	  	<div class="col-sm-12">
				

				<% @restaurants.each do |r| %>
			    <div class="col-sm-4">
			    <div class="col-sm-4">
			     <%= link_to(image_tag(r.remote_image_url, width: '100px', height: '100px'), restaurant_path(r)) %>
			     </div>
			     <div class="col-sm-3">
			      <a><%= link_to("#{r.name}", restaurant_path(r), :class => 'action show') %></a>
			      <a><%= "#{r.location}" %></a>
			      <a><%= "#{r.cuisine}" %></a>			   
				</div>
			    </div>
				<% end %>
		   </div>
	  </div>

	  
	  	

	  
	</div>
</div>
		




	
</div>

<!-- before yield -->

<!-- after yield -->

</html>