<table summary="restaurant form fields">
	<tr>
		<th>Name</th>
		<td><%= f.text_field(:name) %> </td>
	</tr>
	<tr>
        <th> Location</th>
        <td><%= f.text_field(:location) %></td>
      </tr>
	<tr>
		<th>Cuisine</th>
		<td><%= f.text_field(:cuisine) %> </td>
	</tr>
	<tr>
		<th>Service Charge</th>
		<td><%= f.text_field(:service_charge) %> </td>
	</tr>
	<tr>
		<th>Vat</th>
		<td><%= f.text_field(:vat) %> </td>
	</tr>
	<tr>
		<th>Contact</th>
		<td><%= f.text_field(:contact) %> </td>
	</tr>

</table>