<div class="container">
<%= link_to("<< Back to List", restaurants_path, :class => 'back-list') %>
<h2><%= @restaurant.name%> </h2>
<p><%= "This restaurant is located in #{@restaurant.location} "%></p>

</div>