<div class="col-4">

 <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="..." alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="..." alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
</div>

<div class="container">
<div class="col-sm-6">

<%= link_to("<< Back to List", restaurants_path, :class => 'back-list') %>
<h2><%= @restaurant.name%> </h2>
<p><%= "This restaurant is located in #{@restaurant.location} "%></p>
</div>

  </div>
<!-- </div> -->


<!-- <div class="col-12"> -->
<div class="col-sm-6">

<table class="table table-striped">MENU
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
      <th scope="col">Price</th>
      <th scope="col">Order</th>
    </tr>
  </thead>
  <tbody>
	<% @menu.each do |m| %>

    <tr>
      <th scope="row">1</th>
      <td><%= "#{m.item}" %></td>
      <td><%= "#{m.price}" %></td>
      <td><%=link_to("Order",new_order_path(menu_id: m.id) )%></td>
    </tr>
    <%end%>
  </tbody>
</table>
 </div>

 
